<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Planning</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
    <link href="../../Content/style.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header id="site-header"></header>
<main class="flex-fill" >
    <section  class="row" id="Event-Proposal">
        <div class="col-md-12">
            <h2>Event Registration and Board</h2>
            <form id="eventForm">
                <div class="mb-3">
                    <label for="eventName" class="form-label">Event Name</label>
                    <input type="text" class="form-control" id="eventName" required>
                </div>
                <div class="mb-3">
                    <label for="eventDescription" class="form-label">Description</label>
                    <textarea class="form-control" id="eventDescription" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="eventDate" class="form-label">Date</label>
                    <input type="date" class="form-control" id="eventDate" required>
                </div>
                <button type="submit" class="btn btn-primary" id="submitEvent">Submit Event</button>
            </form>
        </div>
    </section>
    <br>
    <section  class="row" id="Event-Calender">
            <div class="col-md-12" id="eventTableContainer">

            </div>
    </section>
    <section  class="row" id="Community-Voting">
        <div class="col-md-12">
            <!-- Content here -->
        </div>
    </section>
    <section   class="row" id="RSVP">
        <div class="col-md-12">
            <!-- Content here -->
        </div>
    </section>
    <section  class="row" id="Discussion-Forum">
        <div class="col-md-12">
            <!-- Content here -->
        </div>
    </section>
</main>
<footer id="site-footer"></footer>
<script src="../../Scripts/main.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>